*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.todos_container {
    width: 30vw;
    height: 20vw;
    background-color: #1b1b1bb4;
    overflow: scroll;
    border-radius: 10px;
    padding: 1vw;
}

.todos_container::-webkit-scrollbar {
    display: none;
}